.select {
  display: flex;
  flex-direction: column;
}

.select label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #fff;
}

.select select {
  min-width: 185px;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .select {
    padding: 0;
    justify-content: center;
    height: auto;
  }
}
